.wrapper-popup {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.wrapper-popup .popup {
    position: absolute;
    right: 0;
    left: 0;
    top: 100px;
    width: 800px;
    margin: 0 auto;
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 60px 30px 30px 30px;
}

.wrapper-popup .popup .inner {
    position: relative;
}

.wrapper-popup .popup .close {
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: 0px;
    display: block;
    width: 17px;
    height: 18px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url('../images/popup-close.png?1420804807') no-repeat;
    color: transparent;
}

.pager {
    text-align: center;
}

.pager span {
    cursor: pointer;
}

.form-inline-field {
    display: inline-block;
    margin-right: 20px;
}

.video-list {
    padding: 0;
}

.video-list li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    width: 160px;
    text-align: center;
    margin-bottom: 15px;
    height: 140px;
    float: left;
}

.video-list li img {
    margin-bottom: 10px;
    display: inline-block;
    height: 67px;
}

.video-list li span {
    display: block;
    width: 150px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.change-video, .delete-video{
    float:left;
    width: 260px;
    margin-right: 15px;
}