@import "compass/css3/border-radius";

// MIXINS
@mixin image-replacement($image) {
  display: block;
  width: image-width($image);
  height: image-height($image);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: image-url($image) no-repeat;
  color: transparent;
}

.wrapper-popup {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(black, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .popup {
    position: absolute;
    right: 0;
    left: 0;
    top: 100px;
    width: 800px;
    margin: 0 auto;
    background: white;
    @include border-radius(5px);
    padding: 60px 30px 30px 30px;
    .inner {
      position: relative;
    }
    .close {
      cursor: pointer;
      position: absolute;
      top: -30px;
      right: 0px;
      @include image-replacement('popup-close.png');
    }
  }
}
.pager {
  text-align: center;
  a {
    cursor: pointer;
  }
}
.form-inline-field {
  display: inline-block;
  margin-right: 20px;
}

.video-list {
  padding: 0;
  li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    width: 160px;
    text-align: center;
    margin-bottom: 15px;
    img {
      margin-bottom: 10px;
      display: inline-block;
      height: 67px;
    }
    span {
      display: block;
    }
  }
}