
<div ng-app="zeleb_back">
  <div class="field-jwplayer-video"
       ng-controller="VideoField">

    {% if selectedtoken is defined and selectedtoken is not null %}
      <p><cite>Token actualmente seleccionado: <code><b>{{ selectedtoken }}</b></code></cite><p>
      <p><img src="http://content.jwplatform.com/thumbs/{{ selectedtoken }}-120.jpg"/></p>
      <br>
    {% endif %}

    <input ng-model="token"
           class="element-hidden form-text ng-pristine ng-valid"
           type="text" id="edit-field-news-video-token-0-value"
           name="field_news_video_token[0][value]"
           value="" size="20" maxlength="128">

    <div class="current-video" ng-cloak ng-show="currentVideo">
      <img src="http://content.jwplatform.com/thumbs/{[{ currentVideo.token }]}-120.jpg"/>
      <span>{[{ currentVideo.title }]}</span>
    </div>

    <div class="select-video" ng-show="!token">
      <span class="button" ng-click="showPicker()">Subir/seleccionar video a JWPlayer</span>
    </div>
    <div class="delete-video" ng-show="token">
      <span class="button" ng-click="removeVideo()">Borrar video</span>
    </div>
    <div class="change-video" ng-show="token">
      <div class="current-video">
        <span class="button" ng-click="showPicker()">Cambiar video/Volver a subir</span>
      </div>
    </div>

    <script id="field-jwplayer-popup.html" type="text/ng-template">
      <div class="wrapper-popup">
        <div class="popup">
          <div class="loaderSpinner"></div>
          <div class="inner">
            <span class="close" ng-click="closePicker()">Cerrar</span>

            <form id="uploadForm" action="" method="POST" enctype="multipart/form-data">
              <fieldset>
                <div class="form-inline-field">
                  <label>Subir video</label>
                  <input id="uploadFile" type="file" name="file"/>
                </div>
                <div class="form-inline-field">
                  <label>Título</label>
                  <input id="uploadTitle" type="text" name="title" required/>
                </div>
                <div id="uploadBar" style="width:480px; float:left; display:none; background:#FFF; margin:5px 0;">
                  <div id="uploadProgress" style="background:#46800d; width:0px; height:18px;"></div>
                </div>
                <button type="submit" id="uploadButton">Upload</button>
              </fieldset>
            </form>

            <form action="" method="GET" name="filter-city">
              <fieldset>
                <div class="form-inline-field">
                  <label>Filter videos by title</label>
                  <input id="filterTitle" type="text" name="filterTitle"/>
                </div>
                <input type="submit" value="Filtrar" ng-click="filterVideos()">
              </fieldset>
            <form>

            <ul class="video-list" ng-show="videos != null">
              <li ng-repeat="video in videos" ng-click="setVideo(video)">
                <img src="http://content.jwplatform.com/thumbs/{[{ video.token }]}-120.jpg"/>
                <span>{[{ video.title }]}</span>
              </li>
            </ul>
            <div class="pager">
              <a href="#" ng-show="offset != 0" ng-click="previosPage()">Previous</a>
              <a href="#" ng-show="videos.length == pageSize" ng-click="nextPage()">Next</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </script>
  </div>
</div>
